@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        font-size: 85%;
    }
    header {
        display: block;
    }
header > .topo {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 10px;
}
header > .topo-child {
    font-size: 0.7em;
}
header > .topo > .topo-child > h1, h2 {
    color: aqua;
}
 header > .topo > .topo-child > h2 {
    font-size: 10px;
}
header > .topo > .topo-child > h1 > img {
    width: 28px;
    margin-right: 5px;
}
header > .topo > .menu > nav {
    display: block;
    margin: 0 auto;
    padding: 20px;
}
header > .topo > .menu > nav > a {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}
header > .topo > .menu > nav > a:hover {
    color: aqua;
    transition: 0.7s;
}
header > .topo > .menu > nav > a {
    position: relative;
    margin: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
header > .topo > .menu > nav > a::after {
    content: "";
    position: absolute;
    background-color: aqua;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
header > .topo > .menu > nav > a:hover::after {
    width: 100%;
}
    main > .home-title > .home-title-child > nav {
        display: none;
    }
    main > .button-up > a > i {
        bottom: 30px;
        right: 30px;
    }
    main > .home-title > .home-title-child > img {
        margin: 0 auto;
    }
    main > .home-title > .home-title-child > p {
        margin: 0 auto;
        text-align: center;
    }
    .page-projects > .projects-child {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .page-projects > .projects-child > .projects-card {
        max-width: 400px;
    }
    .page-tecnologies > .tecnologies-child {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .page-tecnologies > .tecnologies-child > .tecnologies-card {
        max-width: 400px;
    }
    .page-services > .services-child {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .page-services > .services-child > .services-card {
        max-width: 400px;
    }
}
@media screen and (max-width: 380px) {
    main > .home-title > .home-title-child > nav {
        margin: auto;
    }
    main > .button-up > a > i {
        bottom: 10px;
        right: 10px;
    }
    main > .home-title > .home-title-child > .buttons-title > .home-title-curriculum-icon {
        padding: 15px;
        margin-left: -10px;
        border-radius: 45px;
    }
    main > .home-title > .home-title-child > .buttons-title > .home-title-curriculum-icon > a.text-curriculum {
        margin-right: -30px;
    }
    main > .home-title > .home-title-child > .buttons-title > .home-title-curriculum-icon > a.text-curriculum > span {
        display: none;
    }
    main > .home-title > .home-title-child > .buttons-title > .home-title-buttons-icons {
        padding: 10px;
    }
}