@media (min-width: 768px) {

    html {
        font-size: clamp(0.9rem, 1.6vw, 1.05rem);
    }
    body {
        font-size: 85%;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-info h1 {
        font-size: 1.6rem;
    }

    .nav-info p {
        font-size: 0.8rem;
    }

    .nav-links {
        gap: 20px;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .info-about h1 {
        text-align: left;
    }

    .info-about p {
        text-align: left;
    }

    .img-about img {
        max-width: 300px;
    }

    .about {
        padding: 60px 15px 60px 15px;
    }
}