@charset "UTF-8";

@media screen and (min-width: 768px) {

i#burger {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: block;
        float: right;
        margin-top: -45px;
    }
    main {
        display: block;
        margin: 0 auto;
        max-width: 1400px;
    }
    main > .home-title > .home-title-child > img {
        margin: 0 auto;
    }
    main > .home-title > .home-title-child > p {
        margin: 0 auto;
        text-align: center;
    }
    .page-projects > .projects-child {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .page-projects > .projects-child > .projects-card {
        max-width: 400px;
    }
    .page-tecnologies > .tecnologies-child {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .page-tecnologies > .tecnologies-child > .tecnologies-card {
        max-width: 400px;
    }
    .page-services > .services-child {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .page-services > .services-child > .services-card {
        max-width: 400px;
    }
}

@media screen and (max-width: 380px) {
    main > .home-title > .home-title-child > nav {
        display: none;
    }
    main > .home-title > .home-title-child > .buttons-title > .home-title-curriculum-icon {
        padding: 15px;
        margin-left: -10px;
        border-radius: 45px;
    }
    main > .home-title > .home-title-child > .buttons-title > .home-title-curriculum-icon > a.text-curriculum {
        margin-right: -30px;
    }
    main > .home-title > .home-title-child > .buttons-title > .home-title-curriculum-icon > a.text-curriculum > span {
        display: none;
    }
    main > .home-title > .home-title-child > .buttons-title > .home-title-buttons-icons {
        padding: 10px;
    }
}