@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes apper {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

:root {
    --cor-padrao-dark: white;
    --cor-padrao-light: black;
    --cor-destaque-light: rgb(52, 122, 122);
    --cor-destaque-dark: aqua;
    --background-dark: black;
    --background-light: white;
    --font-padrao: "Poppins", sans-serif;
    --font-titulo: "Montserrat", sans-serif;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: var(--cor-padrao-dark);
    font-family: var(--font-padrao);
}
body {
    background-color: black;
}
header {
    padding: 15px;
    margin-right: 40px;
    margin-left: 40px;
}
header > img {
    margin-top: 10px;
}
i#burger {
    margin-top: -50px;
    color: white;
    display: block;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}
menu {
    display: none;
    margin-bottom: 10px;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-left: 20px;
}
menu > ul > li > a:hover {
    transition: .3s;
}
header > menu > ul > li > a.nav-links {
    position: relative;
    margin: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
header > menu > ul > li > a.nav-links::after {
    content: "";
    position: absolute;
    background-color: aqua;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
header > menu > ul > li > a.nav-links:hover::after {
    width: 100%;
}
main {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
}
main > .home-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
main > .home-title > .home-title-child {
    justify-content: center;
    justify-items: center;
    flex-grow: 1;
    flex-basis: 200;
}
main > .home-title > .home-title-child > img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
    border: transparent;
}
main > .home-title > .home-title-child > h1 {
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 2.7em;
}
main > .home-title > .home-title-child > h1 > span.home-title-color {
    color: var(--cor-destaque-dark);
}
main > .home-title > .home-title-child > h2 {
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 2em;
    color: var(--cor-destaque-dark);
}
main > .home-title > .home-title-child > p {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    font-size: 1.1em;
}
main > .home-title > .home-title-child > button {
    font-size: 1.1em;
    background-color: rgb(63, 63, 63);
    border: transparent;
    margin-top: 20px;
    margin-left: 10px;
}
main > .home-title > .home-title-child > button > a {
    text-decoration: none;
}
main > .home-title > .home-title-child > button:hover{
    background-color: black;
    border: 3px solid white;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
main > .home-title > .home-title-child > .home-title-curriculum-icon {
    padding: 15px;
    border-radius: 30px;
}
main > .home-title > .home-title-child > .home-title-curriculum-icon > i {
    margin-right: 60px;
}
main > .home-title > .home-title-child > .home-title-curriculum-icon > a.text-curriculum {
    position: relative;
    margin-top: -30px;
}
main > .home-title > .home-title-child > .home-title-buttons-icons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
main > .home-title > .home-title-child > .home-title-buttons-icons > a > i {
    font-size: 30px;
}
main > .home-title > .home-title-child > .home-title-curriculum-icon > i { 
    font-size: 25px;
}
.page-projects {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.page-projects > .title-projects > h1 {
    font-family: var(--font-titulo);
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}
.page-projects > .projects-child > .projects-card {
    margin: 20px;
    padding: 25px;
    border: 3px solid white;
    border-radius: 20px;
    animation: apper 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.page-projects > .projects-child > .projects-card > h1 {
    font-family: var(--font-titulo);
    font-size: 1.2em;
    margin-bottom: 10px;
}
.page-projects > .projects-child > .projects-card > p {
    margin-bottom: 25px;
}
.page-projects > .projects-child > .projects-card > a {
    padding: 15px;
    border-radius: 30px;
    border: 3px solid white;
    background-color: var(--background-dark);
    color: white;
    font-size: .8em;
    font-weight: 600;
}
.page-projects > .projects-child > .projects-card > a:hover{
    cursor: pointer;
    background-color: white;
    transition: ease-in-out 0.5s;
    color: var(--cor-padrao-light);
}
.page-projects > .projects-child > .projects-card > a {
    text-decoration: none;
}
.page-tecnologies > .title-tecnologies > h1 {
    font-family: var(--font-titulo);
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}
.page-tecnologies > .tecnologies-child {
    display: flex;
    flex-direction: column;
}
.page-tecnologies > .tecnologies-child > .tecnologies-card {
    padding: 25px;
    margin: 20px;
    border: 3px solid white;
    border-radius: 20px;
    animation: apper 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.page-tecnologies > .tecnologies-child > .tecnologies-card > h1 {
    font-family: var(--font-titulo);
    font-size: 1.2em;
    margin-bottom: 10px;
}
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}
footer > .footer-credits-buttons {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
footer > .footer-credits-buttons > button {
    cursor: pointer;
    margin-bottom: 20px;
    border: 3px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: black;
    margin-left: 10px;
}
footer > .footer-credits-buttons > button > a > i {
    font-size: 20px;
}
footer > .footer-credits > h5 {
    text-align: center;
}