@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-padrao-dark: white;
    --cor-padrao-light: black;
    --cor-destaque-light: rgb(52, 122, 122);
    --cor-destaque-dark: aqua;
    --background-dark: black;
    --background-light: white;
    --font-padrao: "Poppins", sans-serif;
    --font-titulo: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: var(--cor-padrao-dark);
    font-family: var(--font-padrao);
}
body {
    background-color: var(--background-dark);
}
header > nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 20px;
}
.nav-itens > .nav-logo {
    flex-grow: 1;
}
.nav-itens > .nav-links {
    color: var(--cor-padrao-light);
    font-size: 18px;
}
.nav-itens > .nav-links > a {
    text-decoration: none;
    padding: 20px;
    justify-content: space-between;
}