@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes apper {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

:root {
    --cor-padrao-dark: white;
    --cor-padrao-light: black;
    --cor-destaque-light: rgb(52, 122, 122);
    --cor-destaque-dark: aqua;
    --background-dark: black;
    --background-light: white;
    --font-padrao: "Poppins", sans-serif;
    --font-titulo: "Montserrat", sans-serif;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: var(--cor-padrao-dark);
    font-family: var(--font-padrao);
}
html, body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 16px;
}
h1 {
    font-size: 3em;
}
p {
    line-height: 25px;
}
body {
    font-size: 100%;
    background-color: black;
}
header {
    padding: 15px;
    margin-right: 40px;
    margin-left: 40px;
}
header > .topo > .topo-child > h1 > a {
    color: aqua;
    font-size: 0.7em;
    text-decoration: none;
}
header > .topo > .topo-child > h1 > a > span {
    color: white;
}
header > .topo > .menu > nav {
    display: none;
}
header > .topo > .menu > nav > a:first-of-type {
    color: aqua;
}
.home-title > .home-title-child > nav {
    background-color: #4b4b4b11;
    padding: 20px;
    border-radius: 60px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.home-title > .home-title-child > nav > .nav-links:hover {
    color: aqua;
    transition: 1s;
}
.home-title > .home-title-child > nav > .nav-links {
    position: relative;
    margin: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.home-title > .home-title-child > nav > .nav-links::after {
    content: "";
    position: absolute;
    background-color: aqua;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.home-title > .home-title-child > nav > .nav-links:hover::after {
    width: 100%;
}
main {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 30px 4px;
}
main > .button-up {
    position: relative;
    font-size: 1.7em;
}
main > .button-up > a > i {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgba(114, 114, 114, 0.616);
    padding: 15px 20px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
main > .button-up > a > i:hover {
    transition: 0.5 ease-in-out;
    background-color: rgb(0, 194, 194);
}
main > .home-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
main > .home-title > .home-title-child {
    justify-content: center;
    justify-items: center;
    flex-grow: 1;
}
main > .home-title > .home-title-child > img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 200px;
    border-radius: 50%;
    border: transparent;
}
main > .home-title > .home-title-child > h1 {
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 2.7em;
}
main > .home-title > .home-title-child > h1 > span.home-title-color {
    color: var(--cor-destaque-dark);
}
main > .home-title > .home-title-child > h2 {
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 2em;
    color: var(--cor-destaque-dark);
}
main > .home-title > .home-title-child > p {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
    font-size: 1.1em;
    padding: 0px 10px;
}
.home-title-child-desk {
    display: none;
}
.about-me-desk {
    display: none;
}
.set-down-desk {
    display: none;
}
main > .home-title > .home-title-child > .buttons-title > button {
    font-size: 1.1em;
    width: 55%;
    background-color: transparent;
    border: 3px solid white;
    margin-top: 20px;
    margin-left: 20px;
}
main > .home-title > .home-title-child > .buttons-title > button > a {
    text-decoration: none;
}
main > .home-title > .home-title-child > .buttons-title > button:hover{
    transform: scale(1.1);
    transition: .7s;
    cursor: pointer;
}
main > .home-title > .home-title-child > .buttons-title > button > a, i:hover {
    transition: .7s;
} 
main > .home-title > .home-title-child > .buttons-title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 20px;
}
.buttons-title > a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    border: 3px solid white;
    padding: 13px 16px;
    border-radius: 80px;
}
.text-curriculum {
    font-size: 0.8em;
    border-radius: 80px;
    position: relative;
}
.text-curriculum::before {
    content: "✉";
    margin-right: 10px;
}
.buttons-title > .text-curriculum:hover {
    background-color: rgb(0, 255, 255);
    color: black;
    font-weight: 600;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.buttons-title > a > i {
    font-size: 1.4em;
}
.page-projects {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-top: 2px solid #ffffff;
}
.page-projects > .title-projects > h1 {
    font-family: var(--font-titulo);
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}
.page-projects > .projects-child > .projects-card {
    margin: 20px;
    padding: 25px;
    border: 3px solid white;
    border-radius: 20px;
    flex-grow: 1;
    animation: apper 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.page-projects > .projects-child > .projects-card > h1 {
    font-family: var(--font-titulo);
    font-size: 1.2em;
    margin-bottom: 10px;
}
.page-projects > .projects-child > .projects-card > p {
    margin-bottom: 25px;
}
.page-projects > .projects-child > .projects-card > a {
    padding: 15px;
    border-radius: 30px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    letter-spacing: 1.1px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.page-projects > .projects-child > .projects-card > a:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(255, 255, 255);
    transition: ease-in-out 0.5s;
}
.page-projects > .projects-child > .projects-card > a {
    text-decoration: none;
}
.page-projects > .projects-child > .projects-card > .tags {
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.tags-skills {
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid white;
}
.page-services {
    border-top: 2px solid #ffffff;
}
.page-services > .services-child {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.page-services > .services-child > .services-card {
    margin: 20px;
    padding: 25px;
    border: 3px solid white;
    border-radius: 20px;
    flex-grow: 1;
    animation: apper 3s linear;
    justify-content: space-evenly;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.page-services > .title-services > h1 {
    font-size: 2em;
    padding: 20px;
    text-align: center;
}
.page-services > .services-child > .services-card > h1 {
    margin-bottom: 10px;
    font-size: 1.2em;
}
.page-tecnologies {
    border-top: 2px solid #ffffff;
}
.page-tecnologies > .title-tecnologies > h1 {
    font-family: var(--font-titulo);
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}
.page-tecnologies > .tecnologies-child {
    display: flex;
    flex-direction: column;
}
.page-tecnologies > .tecnologies-child > .tecnologies-card {
    padding: 25px;
    margin: 20px;
    border-radius: 20px;
    animation: apper 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    flex-basis: 200;
    flex-grow: 1;
}
.page-tecnologies > .tecnologies-child > .tecnologies-card > img {
    display: block;
    margin: 0 auto;
}
.page-tecnologies > .tecnologies-child > .tecnologies-card > h1 {
    font-family: var(--font-titulo);
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
}
.credits-footer {
    border-top: 2px solid #ffffff;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.credits-footer > .box-credits {
    flex: 1 1 250px;
}
.credits-footer > .box-credits > h2 {
    font-family: var(--font-titulo);
    font-size: 1.9em;
    margin-bottom: 30px;
    color: white;
    margin-top: 20px;
}
.credits-footer > .box-credits > p {
    font-size: 1.01em;
    line-height: 25px;
    margin: 10px 0px;
}
.credits-footer > .box-credits > p > span {
    font-weight: 600;
    color: aqua;
}
.credits-footer > .box-credits > p > a {
    text-decoration: none;
}
.credits-footer > .box-credits > p > a:hover {
    color: aqua;
    transition: 0.5s;
}
.credits-footer > .box-credits > .credits-rs > a {
    padding: 10px;
}
.credits-footer > .box-credits > .credits-rs > a > i {
    font-size: 1.6em;
    margin-top: 20px;
    margin-right: 25px;
}
.main-blog {
    display: block;
    max-width: 80%;
    margin: 50px auto;
    padding: 30px 4px;
}
.container-blog {
    padding: 20px;
}
.container-blog > p {
    max-width: 768px;
    font-size: 1.1em;
    margin: 20px 0px;
}
.container-blog > span {
    font-weight: 600;
}
.container-blog > span:nth-of-type(1)::after {
    content: ">>";
    margin: 0 8px;
    color: white;
}
.blog-section {
    margin: 0px 0px -100px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}
.blog-section > .blog-article {
    border: 3px solid white;
    border-radius: 20px;
    flex: 0 1 400px;
    animation: apper 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.blog-section > .blog-article > .img-ap > img {
    display: block;
    margin: 0 auto;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.blog-section > .blog-article > .info-ap {
    padding: 20px;
}
.blog-section > .blog-article > .info-ap > h2 {
    font-family: var(--font-titulo);
    font-size: 1.5em;
    margin-bottom: 20px;
    color: whitesmoke;
}
.blog-section > .blog-article > .info-ap > p {
    margin: 20px 0px;
    line-height: 25px;
}
.blog-section > .blog-article > .info-ap > p > span {
    font-weight: 600;
    color: #ffffffa0;
}
.blog-section > .blog-article > .info-ap > a {
    text-decoration: none;
    width: 100%;
    background-color: transparent;
    border: 3px solid white;
    text-align: center;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    padding: 13px 16px;
    border-radius: 80px;
}
.blog-section > .blog-article > .info-ap > a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.container-blog-materia {
    padding: 30px;
    max-width: 768px;
    margin: 0 auto;
}
.blog-article {
    text-align: justify;
}
.blog-materia > h1 {
    font-size: 2em;
    color: aqua;
    margin: 30px 0px;
}
.blog-materia > p {
    font-weight: 600;
    margin: 30px 0px;
    color: #ffffffa0;
}
.banner-blog-materia > img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    height: 350px;
}
.blog-article-materia > p {
    margin: 20px 0px;
    line-height: 25px;
}
.blog-article-materia > ul {
    margin: 20px 0px 20px 40px;
}
.blog-article-materia > h2 {
    font-family: var(--font-titulo);
    font-size: 1.5em;
    margin: 90px 0px 20px 0px;
    color: aqua;
}
blockquote {
    border-left: 5px solid aqua;
    margin: 40px 0px;
    padding-left: 15px;
    font-style: italic;
    color: #ffffffa0;
}
blockquote > p {
    color: #ffffffa0;
    font-weight: 600;
}